.formgrid {
    display: flex;
    justify-content: center;
    margin-top: 12vh;
    gap: 240px
}

.formcontainer {
    display: flex;
    width: 600px;
    height: 420px;
    justify-content: center;
    align-items: center;
}

.pme {
    position: relative;
    margin-bottom: 50px;
}

.pme label{
    position: absolute;
    left: 0;
    transform: translatey(-46px);
    font-family: "Oswald", sans-serif;
    font-size: 26px;
} 

.pme input {
    width: 600px;
    height: 60px;
    border: 2px solid #064665;
    border-radius: 3px;
    background-color: #19688E;
    color: #F0F0F0;
    padding-left: 20px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

.pme input::placeholder {
    color: #F0F0F0;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

.pme input:focus {
    border: 2px solid #064665;
    outline: none;
    box-shadow: 0 0 0 0; 
}   

.pme input::-webkit-outer-spin-button,
.pme input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pme input[type=number] {
  -moz-appearance: textfield;
}

.pmr {
    position: relative;
    margin-bottom: 50px;
}

.pmr label{
    position: absolute;
    left: 0;
    transform: translatey(-46px);
    font-family: "Oswald", sans-serif;
    font-size: 26px;
} 

.pmr input {
    width: 600px;
    height: 60px;
    border: 2px solid #064665;
    border-radius: 3px;
    background-color: #19688E;
    color: #F0F0F0;
    padding-left: 20px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

.pmr input::placeholder {
    color: #F0F0F0;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

.pmr input:focus {
    border: 2px solid #064665;
    outline: none;
    box-shadow: 0 0 0 0; 
}   

.pmr input::-webkit-outer-spin-button,
.pmr input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pmr input[type=number] {
  -moz-appearance: textfield;
}

.pmp {
    position: relative;
    margin-bottom: 60px;
}

.pmp label{
    position: absolute;
    left: 0;
    transform: translatey(-46px);
    font-family: "Oswald", sans-serif;
    font-size: 26px;
} 

.pmp input {
    width: 600px;
    height: 60px;
    border: 2px solid #064665;
    border-radius: 3px;
    background-color: #19688E;
    color: #F0F0F0;
    padding-left: 20px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

.pmp input::placeholder {
    color: #F0F0F0;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

.pmp input:focus {
    border: 2px solid #064665;
    outline: none;
    box-shadow: 0 0 0 0; 
}   

.pmp input::-webkit-outer-spin-button,
.pmp input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pmp input[type=number] {
  -moz-appearance: textfield;
}

.resultado {
    width: 560px;
    height: 420px;
    text-align: center;
    background-color: #002638;
    border-radius: 5px;
}

.resultado p {
    font-family: "Nunito", sans-serif;
    font-size: 26px;
    color: #E0E0E0;
    margin-top: 40px;
    height: 50px;
}

.resultado .resultadoccc {
    display: block;
    position: relative;
    transform: translatey(70px);
    font-family: "Oswald", sans-serif;
    font-size: 36px;
    color: #E0E0E0;
}

.btn {
    display: flex;
    justify-content: center;
}

.btn button {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    background: #328AB4;
    background: linear-gradient(180deg,rgba(50, 138, 180, 1) 0%, rgba(25, 104, 142, 1) 100%);
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 22px;
    transition: 200ms;
}

.btn button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.voltar span {
    text-decoration: underline;
    transform: translateY(-2px);
    padding-left: 20px;
}

.voltar span a{
    color: black;
}


.pv {
    position: relative;
    margin-bottom: 30px; 
}

.pv label{
    position: absolute;
    left: 0;
    transform: translatey(-46px);
    font-family: "Oswald", sans-serif;
    font-size: 26px;
} 

.pv input {
    width: 600px;
    height: 60px;
    border: 2px solid #064665;
    border-radius: 3px;
    background-color: #19688E;
    color: #F0F0F0;
    padding-left: 20px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

.pv input::placeholder {
    color: #F0F0F0;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

.pv input:focus {
    border: 2px solid #064665;
    outline: none;
    box-shadow: 0 0 0 0; 
}   

.pv input::-webkit-outer-spin-button,
.pv input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.pv input[type=number] {
  -moz-appearance: textfield;
}

.gv {
    position: relative;
    margin-bottom: 30px;
}

.gv label{
    position: absolute;
    left: 0;
    transform: translatey(-46px);
    font-family: "Oswald", sans-serif;
    font-size: 26px;
} 

.gv input {
    width: 600px;
    height: 60px;
    border: 2px solid #064665;
    border-radius: 3px;
    background-color: #19688E;
    color: #F0F0F0;
    padding-left: 20px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

.gv input::placeholder {
    color: #F0F0F0;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

.gv input:focus {
    border: 2px solid #064665;
    outline: none;
    box-shadow: 0 0 0 0; 
}   

.gv input::-webkit-outer-spin-button,
.gv input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.gv input[type=number] {
  -moz-appearance: textfield;
}

.qntd {
    position: relative;
    margin-bottom: 30px;
}

.qntd label{
    position: absolute;
    left: 0;
    transform: translatey(-46px);
    font-family: "Oswald", sans-serif;
    font-size: 26px;
} 

.qntd input {
    width: 600px;
    height: 60px;
    border: 2px solid #064665;
    border-radius: 3px;
    background-color: #19688E;
    color: #F0F0F0;
    padding-left: 20px;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

.qntd input::placeholder {
    color: #F0F0F0;
    font-family: "Nunito", sans-serif;
    font-size: 16px;
}

.qntd input:focus {
    border: 2px solid #064665;
    outline: none;
    box-shadow: 0 0 0 0; 
}   

.qntd input::-webkit-outer-spin-button,
.qntd input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.qntd input[type=number] {
  -moz-appearance: textfield;
}